<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur notre site</h1>
    </header>
    <main>
        <section>
            <h2>À propos de nous</h2>
            <p>Je me nomme Sery Goze Morel, un étudiant à l'Université Nangui Abrogoua.
            </p>
        </section>
        <section>
            <h2>Nos Services</h2>
            <ul>
                <li><a href="services.html">Voir nos services</a></li>
            </ul>
        </section>
        <section>
            <h2>Contactez-nous</h2>
            <ul>
                <li><a href="contact.html">Nous contacter</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Votre Entreprise. Tous droits réservés.</p>
    </footer>
</body>
</html>
